{% load crispy_forms_tags %}
<body>
    <p>Hello,{{username}}<br>To perform string trimming enter the following</p>
    <ul>
        <li>1. Enter the string you wish to trim</li>
        <li>2. Trim!!!</li>
    </ul>
    <form method="post">
        {%csrf_token%}
        {{form|crispy}}
        <br><button type="submit" id="trimBtn">Trim Spaces</button><br/>
        <br><button type="submit" id="goToRegexbtn"><a href="regextest"></a> Go to Regex Checker</button>
    </form>
    <label>
        {{result}}
    </label>
</body>